.App {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
}

#editor {
  width: 50%;
  height: inherit;
  padding: 2rem;
}

#previewer {
  width: 50%;
  height: inherit;
  padding: 2rem;
}

textarea {
 height: 140vh;
}


.card-text {
  padding: 1rem;
  outline: none;
  width: 100%;
  margin-top: 1rem;
  border: 1px solid black;
  overflow: hidden;
}

